---
import { client } from "../utils/graphql-client";
import { graphql } from "gql.tada";

const { slug } = Astro.params;

const query = graphql(`
  query {
    configCollection {
      items {
        footerMenuCollection(limit: 20) {
          items {
            ... on Page {
              title
              slug
              sys {
                id
              }
            }
          }
        }
        footerMenuMetaCollection(limit: 10) {
          items {
            ... on Page {
              title
              slug
              sys {
                id
              }
            }
          }
        }
        footerCtasCollection(limit: 10) {
          items {
            ... on Page {
              title
              slug
              sys {
                id
              }
            }
          }
        }
        footerSocialMediaCollection(limit: 10) {
          items {
            ... on SocialMedia {
              title
              link
              sys {
                id
              }
            }
          }
        }
      }
    }
  }
`);

const data = await client.request(query);

const menuItems =
  data.configCollection?.items[0]?.footerMenuCollection?.items || [];
const metaMenuItems =
  data.configCollection?.items[0]?.footerMenuMetaCollection?.items || [];
const ctas = data.configCollection?.items[0]?.footerCtasCollection?.items || [];
const socialMediaItems =
  data.configCollection?.items[0]?.footerSocialMediaCollection?.items || [];
---

<footer class="footer">
  <nav class="nav">
    <ul class="nav-list">
      {
        menuItems.map(
          (item) =>
            item && (
              <li class="nav-list-item">
                <a
                  href={`/${item.slug}`}
                  class:list={["link", { active: item.slug === slug }]}
                >
                  {item.title}
                </a>
              </li>
            )
        )
      }
    </ul>
    <ul class="nav-list">
      {
        metaMenuItems.map(
          (item) =>
            item && (
              <li class="nav-list-item">
                <a
                  href={`/${item.slug}`}
                  class:list={["link", { active: item.slug === slug }]}
                >
                  {item.title}
                </a>
              </li>
            )
        )
      }
    </ul>
    <ul class="nav-list">
      {
        ctas.map(
          (item) =>
            item && (
              <li class="nav-list-item">
                <a
                  href={`/${item.slug}`}
                  class:list={["link", { active: item.slug === slug }]}
                >
                  {item.title}
                </a>
              </li>
            )
        )
      }
    </ul>
    <ul class="nav-list">
      {
        socialMediaItems.map(
          (item) =>
            item && (
              <li class="nav-list-item">
                <a href={`/${item.link}`}>{item.title}</a>
              </li>
            )
        )
      }
    </ul>
  </nav>

  <p class="copyright__text">
    2011-{new Date().getFullYear()} Front Conference Zurich
  </p>
</footer>

<style lang="scss">
  @import "../styles/_imports.scss";

  .footer {
    background: var(--color-black);
  }
</style>
