---
import { graphql } from "gql.tada";
import { client } from "../utils/graphql-client";
import SpotTeaser from "./SpotTeaser.astro";
import Markdown from "./Markdown.astro";

Astro.response.headers.set(
  "Cache-Control",
  "s-maxage=60, stale-while-revalidate",
);

const query = graphql(`
  query GetHotels {
    collection: hotelCollection {
      items {
        name
        description
        link
        photo {
          src: url(transform: { width: 600, height: 600, resizeStrategy: FILL })
          alt: title
        }
      }
    }
    config: configCollection(limit: 1) {
      items {
        leadHotels
      }
    }
  }
`);

const data = await client.request(query, {});
const hotels = data.collection.items;
const config = data.config.items[0];
---

<div class="column--main stack">
  {config.leadHotels && <Markdown text={config.leadHotels} />}
  {
    hotels.map((hotel) => (
      <SpotTeaser
        title={hotel.name}
        text={hotel.description}
        image={hotel.photo}
        link={hotel.link}
      />
    ))
  }
</div>

<style lang="scss"></style>
