---
import { graphql } from "gql.tada";
import Markdown from "../../components/Markdown.astro";
import ContentLayout from "../../layouts/ContentLayout.astro";
import { client } from "../../utils/graphql-client";
import { notEmpty } from "../../utils/helpers";
import { SPEAKER_YEAR_TAG_KEY } from "../../utils/constants";

Astro.response.headers.set(
  "Cache-Control",
  "s-maxage=60, stale-while-revalidate",
);

// TODO: Update $yearTag when enough speakers are there
const query = graphql(`
  query GetSpeakersPage($limit: Int = 200, $yearTag: String!) {
    collection: pageCollection(where: { slug: "speakers" }) {
      items {
        title
        lead
        body
        slug
      }
    }
    tags: tagCollection(limit: 1, where: { title: $yearTag }) {
      items {
        linkedFrom {
          speakers: speakerCollection(limit: $limit, order: name_ASC) {
            items {
              name
              #              role
              #              company
              #              description
              #              bio
              slug
              #              order
              #              photo {
              #                url(transform: { resizeStrategy: FILL })
              #              }
            }
          }
        }
      }
    }
  }
`);

const data = await client.request(query, { yearTag: SPEAKER_YEAR_TAG_KEY });

const speakers =
  data.tags?.items[0]?.linkedFrom?.speakers?.items.filter(notEmpty) || [];
const currentPage = data.collection?.items[0];

// TODO: double check if this is correct
if (!currentPage || !currentPage.title) {
  return {
    status: 404,
    error: "Page not found",
  };
}
---

<ContentLayout title={currentPage.title}>
  {currentPage.lead && <div>{currentPage.lead}</div>}
  {currentPage.body && <Markdown text={currentPage.body} />}
  <ul>
    {
      speakers.map((speaker) => (
        <li>
          <a href={`/speakers/${speaker.slug}`}>{speaker.name}</a>
        </li>
      ))
    }
  </ul>
</ContentLayout>
